@import url(https://fonts.googleapis.com/css?family=Lato);

*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #f9fefa;
}

/*NAVIGATION*/

nav{
	width: 100%;
	min-height: 73px;
	z-index: 1000;
	position: fixed;
	top: 0px;
	background: rgba(20, 188, 90, 1);
}

nav ul{
	list-style: none;
	margin: 0px auto;
	padding: 0;
	width: 80%;
	//background: red;
	display: flex;
	flex-wrap: wrap;
	min-height: 73px;
	justify-content: center;
	align-items: center;
}

nav ul li{
	flex : 1;
	text-align: center;
	//border: 1px solid white;
}

nav ul li a{
	display: inline-block;
	padding: 4%;
	//background-color: black;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color : rgba(255, 255, 255, 0.70);
	transition: 0.2s all linear;
}

nav ul li a:hover{
	text-decoration: none;
	color : rgba(255, 255, 255, 1);
	cursor: pointer;
}

.my-nav-text-anchor::after{
	content: "";
	display: block;
	height: 2px;
	width: 0%;
	background-color: white;
	-webkit-transition : all 0.2s ease-in;
	-moz-transition : all 0.2s ease-in;
	-o-transition : all 0.2s ease-in;
	-ms-transition : all 0.2s ease-in;
	transition : all 0.2s ease-in;
}

.my-nav-text-anchor:hover::after{
	width: 100%;
}

/*NAVIGATION OVER*/

/*FORM*/

section.my-first{
    margin-top : 73px;
    min-height : calc(100vh - 73px);
    display:flex;
    justify-content: center;
    align-items : center;
}

h1.my-heading{
	text-align: center;
	//background-color: white;
	text-align: center;
	font-size: 40px;
	padding: 2%;
	margin: 0px;
	margin-top : 2%;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

h1.my-heading::after{
	content: "";
	display: block;
	height: 4px;
	width: 10%;
	margin: 0px auto;
	margin-top: 5px;
	background-color: #14bc5a;
}

.my-event-heading{
	font-family : 'Lato', sans-serif;
	font-size : 40px;
	text-align : center;
	color : black;
}

.my-event-tagline{
	font-family : 'Lato', sans-serif;
	font-size : 25px ;
	text-align : center;
	font-style : italic;
	color : #505050;
	
}


form{
    background : #eaf7ee;
    border : 1px solid #c6d9ce;
    padding : 3%;
    padding-bottom : 2%;
    margin : 0px auto;
    flex-basis : 50%;
}

form input{
    display : block;
    margin : 5% auto;
}

input[type="text"],input[type="password"]{
    font-family : 'Lato', sans-serif;
    font-size : 20px;
    padding : 3%;
}

input[type="text"]{
	margin-top : 2%;
}

input[type="submit"]{
	font-family : 'Lato', sans-serif;
    font-size : 20px;
    padding : 2% 5% 2% 5%;
    background : #28bf62;
    border : none;
    border-radius : 5px ;
    color : white;
}

input[type="submit"]:hover{
	cursor : pointer;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="submit"]:focus{
	outline : none;
}

.wrong{
    border : 2px solid red;
}

.wrong:focus{
    border : none;
}

/*FORM OVER*/